.sheet-dialog {
  padding-top: 200px;
  position: absolute;
  left: 0;
  top: 0;
  width: 8.5in;
  height: 11in;
  background: rgba(0,0,0,.2);
  display: none;
  z-index: 20;

  .sheet-dialog-box {
    $width: 515px;

    width: $width;
    margin: 100px auto 0;
    padding: 15px;
    position: relative;

    background-image: $attacks-background;
    background-repeat: no-repeat;
    background-size: $width 95%;
    z-index: 20;

    .sheet-dialog-display {
      display: block;

      position: absolute;
      right: 20px;
      top: 0;

      height: 13px;
      width: 13px;

      z-index: 100;

      span {
        color: $red;

        position: absolute;
        left: 0;
        top: 0;
        z-index: 110;

        height: 13px;
        width: 13px;

      }

      input[type=checkbox] {
        opacity: 0;

        position: absolute;
        left: 0;
        top: 0;
        z-index: 120;

        height: 13px;
        width: 13px;
      }
    }

    .sheet-contents {
      display: block;
      position: relative;
      z-index: 50;

      .sheet-title {
        color: $red;
        font-size: 12pt;
        font-variant: small-caps;
        font-weight: bold;
        border-bottom: 2px solid $gold;
        padding-bottom: 2px;
      }

      .sheet-header {
        font-weight: bold;

        span {
          display: inline-block;
        }
      }

      .sheet-row {
        &:nth-child(odd) {
          background-color: rgba(0, 0, 0, .05);
        }

        input { border-bottom: 1px solid rgba(0, 0, 0, .05); }
      }

      @import "dialog/classes-levels";
    }

    &::before, &::after {
      content: "";
      background-repeat: no-repeat;

      position: absolute;
      left: 0;

      width: $width;

      z-index: 30;
    }

    &::before {
      $height: 17px;
      background-image: $dialog-header;
      top: -5px;

      background-size: $width $height;
      height: $height;
    }
    &::after {
      $height: 40px;
      background-image: $dialog-footer;
      bottom: 0;

      background-size: $width $height;
      height: $height;
    }
  }
}
.sheet-dialog-display { display: none; }
.sheet-dialog-display:checked ~ .sheet-dialog { display: block; }
