$sheet-header: url(https://content.writh.net/images/sheets/sheet-header.png);

$dialog-background: url(https://content.writh.net/images/sheets/attacks-background.png);
$dialog-header: url(https://content.writh.net/images/sheets/attacks-header.png);
$dialog-footer: url(https://content.writh.net/images/sheets/attacks-footer.png);

$attributes-container: url(https://content.writh.net/images/sheets/attribute-background.png);
$attribute: url(https://content.writh.net/images/sheets/attribute-border.png);

$inspiration: url(https://content.writh.net/images/sheets/inspiration.png);
$inspiration-earned: url(https://content.writh.net/images/sheets/inspiration-earned.png);

$roll-template-background: url(https://content.writh.net/images/sheets/rolltemplate-background.png);
$roll-template-header: url(https://content.writh.net/images/sheets/rolltemplate-top.png);
$roll-template-footer: url(https://content.writh.net/images/sheets/rolltemplate-bottom.png);

$proficiency-bonus: url(https://content.writh.net/images/sheets/proficiency.png);
$passive-proficiencies: url(https://content.writh.net/images/sheets/passive.png);
$proficiency-background: url(https://content.writh.net/images/sheets/proficiencies.png);
$proficiency-header: url(https://content.writh.net/images/sheets/proficiencies-top.png);
$proficiency-footer: url(https://content.writh.net/images/sheets/proficiencies-bottom.png);
$other-proficiencies-header: url(https://content.writh.net/images/sheets/other-proficiencies-top.png);
$other-proficiencies-footer: url(https://content.writh.net/images/sheets/other-proficiencies-bottom.png);
$other-proficiencies-background: url(https://content.writh.net/images/sheets/other-proficiencies.png);

$health-background: url(https://content.writh.net/images/sheets/health-background.png);
$armor-class: url(https://content.writh.net/images/sheets/armor-class.png);
$initiative: url(https://content.writh.net/images/sheets/initiative.png);
$max-hp: url(https://content.writh.net/images/sheets/maxhp.png);
$temporary-hp: url(https://content.writh.net/images/sheets/init-speed.png);
$resist-immune: url(https://content.writh.net/images/sheets/resist-immune.png);
$hp: url(https://content.writh.net/images/sheets/init-speed.png);


$traits-background: url(https://content.writh.net/images/sheets/health-background.png);
$hit-dice: url(https://content.writh.net/images/sheets/hit-dice.png);
$death-saves: url(https://content.writh.net/images/sheets/hd-deathsaves.png);
$initiative: url(https://content.writh.net/images/sheets/initiative.png);
$speed: url(https://content.writh.net/images/sheets/speed.png);
$vision: url(https://content.writh.net/images/sheets/vision.png);

$attacks-background: url(https://content.writh.net/images/sheets/attacks-background.png);
$attacks-header: url(https://content.writh.net/images/sheets/attacks-header.png);
$attacks-footer: url(https://content.writh.net/images/sheets/attacks-footer.png);

$features-background: url(https://content.writh.net/images/sheets/features-background.png);
$features-header: url(https://content.writh.net/images/sheets/features-header.png);
$features-footer: url(https://content.writh.net/images/sheets/features-footer.png);

$spells-background: url(https://content.writh.net/images/sheets/spellcasting-background.png);
$spells-cantrip-header: url(https://content.writh.net/images/sheets/spellcasting-cantrip-header.png);
$spells-list-header: url(https://content.writh.net/images/sheets/spellcasting-spells-header.png);

$equipment-background: url(https://content.writh.net/images/sheets/spellcasting-background.png);
$equipment-header: url(https://content.writh.net/images/sheets/equipment-header.png);