$sheet-header: url(https://i.imgur.com/ZnD5yYo.png);
$sheet-d20: url(https://i.imgur.com/4WCZ6Vr.png);

$attributes-container: url(https://i.imgur.com/Tlt3e4H.pnghttps://i.imgur.com/Tlt3e4H.png);
$attribute: url(https://i.imgur.com/109VNge.png);

$inspiration: url(https://i.imgur.com/VyDLnkv.png);
$inspiration-earned: url(https://i.imgur.com/ZfEAuk7.png);

$roll-template-background: url(https://i.imgur.com/qHEKi2T.png);
$roll-template-header: url(https://i.imgur.com/YrFvZGs.png);
$roll-template-footer: url(https://i.imgur.com/qkI2enT.png);

$proficiency-bonus: url(https://i.imgur.com/iA5RmP2.png);
$passive-proficiencies: url(https://i.imgur.com/zx56m9f.png);
$proficiency-background: url(https://i.imgur.com/yonOnO9.png);
$proficiency-header: url(https://i.imgur.com/1u5g0tR.png);
$proficiency-footer: url(https://i.imgur.com/R9lG0PV.png);
$other-proficiencies-header: url(https://i.imgur.com/bMvnDl3.png);
$other-proficiencies-footer: url(https://i.imgur.com/k0j7FoL.png);
$other-proficiencies-background: url(https://i.imgur.com/Ly0Z9Jv.png);