* {
  box-sizing: border-box;
  font-size: 10pt;
  padding: 0;
  margin: 0;
  border: 0;
}

.sheet-hidden { display: none; }
.sheet-dicefontd20 {
  color: $label;
  font-family: 'dicefontd20';
}

input {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;

  display: inline-block;
  width: auto;
}

label {
  color: $label;
  font-size: 7pt;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;

  display: inline-block;
  width: auto;
}

th {
  text-align: left;
}

.repcontrol_del { width: 18px; }