* {
  box-sizing: border-box;
  font-size: 10pt;
  padding: 0;
  margin: 0;
  border: 0;
}

.sheet-hidden { display: none; }
.sheet-dicefontd20 {
  color: $label;
  font-family: 'dicefontd20';
}

button[type=roll] {
  background: none;
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  padding: 0;
  font-size: 8pt;

  &::before { display: none; }
}

input[type=text], input[type=number] {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;

  display: inline-block;
  width: auto;
}

input[type=checkbox] {
  border: 1px solid #000;
  border-radius: 50%;

  height: 8px;
  width: 8px;

  -webkit-appearance: none;

  &:checked {
    background: black;
  }
}

label {
  color: $label;
  font-size: 7pt;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;

  display: inline-block;
  width: auto;
}

textarea {
  padding: 5px;
  resize: none;
  overflow-y: scroll;

  &:focus { outline: none; }

  @include scrollable();
}

th {
  text-align: left;
}

.repcontrol_del { width: 18px; }