.sheet-header {
  background-image: url(https://i.imgur.com/Lw0D7jX.png);
  background-size: 765px 130px;

  position: relative;
  height: 130px;
  width: 765px;

  input[name=attr_character_name] {
    position: absolute;
    top: 64px;
    left: 75px;
    width: 220px;

    font-size: 15pt;
    font-weight: bold;
  }

  label.attr_character_name {
    position: absolute;
    left: 80px;
    top: 97px;
    width: 220px;
  }

  .sheet-main {
    position: absolute;
    top: 38px;
    left: 329px;
    height: 74px;
    width: 407px;

    .sheet-header-row {
      position: relative;

      height: 37px;
      width: 390px;
      margin: 0 auto;
      padding: 1px;

      input[name=attr_classlevel], .attr_classlevel { width: 250px; }
      input[name=attr_background], .attr_background { width: 130px; }
      input[name=attr_race], .attr_race,
      input[name=attr_alignment], .attr_alignment,
      input[name=attr_experience], .attr_experience { width: 125px; }

      hr {
        background-color: #CCC;

        height: 1px;
        margin: 0;
        width: 100%;
      }
    }
  }
}