.sheet-attacks {
  $height: 200px;
  $width: 515px;

  position: absolute;
  left: 295px;
  top: 360px;

  height: $height;
  width: $width;

  background-image: $attacks-background;
  background-repeat: no-repeat;
  background-size: $width $height;

  z-index: 20;

  .repcontainer {
    height: $height - 60px;
    width: $width - 55px;

    margin: 0 auto;
    position: relative;
    z-index: 40;

    overflow-y: auto;
    overflow-x: hidden;
    @include scrollable();

    .repitem {
      background-color: $oddrow;
      margin-bottom: 5px;
    }

    input {
      border-bottom: 1px solid black;
      font-size: 9pt;
    }
  }

  .repcontrol {
    width: $width - 55px;
    z-index: 40;
    position: relative;
    margin: 0 auto;
  }

  &::before, &::after {
    content: "";
    background-color: white;
    background-repeat: no-repeat;

    position: absolute;
    left: 0;

    width: $width;

    z-index: 30;
  }

  &::before {
    $height: 17px;

    background-image: $attacks-header;
    top: -5px;

    background-size: $width $height;
    height: $height;
  }

  &::after {
    $height: 40px;
    background-image: $attacks-footer;
    bottom: 0;

    background-size: $width $height;
    height: $height;
  }

  .sheet-header {
    width: $width - 55px;
    margin: 0 auto;
    position: relative;
    z-index: 40;

    label {
      font-size: 8pt;
      text-transform: uppercase;
      text-align: left;
      display: inline-block;
    }
  }

  .sheet-header, button {
    .sheet-name {
      display: inline-block;
      width: 160px;
      text-align: left;
    }
    .sheet-attack {
      width: 45px;
      display: inline-block;
      text-align: center;
    }
    .sheet-damage {
      width: 100px;
      display: inline-block;
      text-align: center;
    }
    .sheet-range {
      width: 75px;
      display: none;

      text-align: center;
    }
    .sheet-ammo {
      width: 50px;
      display: none;

      .sheet-ammo-left {
        text-align: right;
      }
      .sheet-ammo-left, .sheet-ammo-total {
        width: 25px;
      }
    }
  }

  .sheet-attack {
    width: $width - 58px;

    @include edit-checkbox();
    .sheet-edit-attack-checkbox { display: none; }
    .sheet-edit-attack-checkbox:checked ~ .sheet-edit-section { display: block; }

    .sheet-edit-section {
      display: none;
      width: 300px;
      margin: 0 auto;
      padding: 0 15px;
      background: white;

      .sheet-row {
        height: 24px;
        line-height: 24px;
        vertical-align: middle;
      }

      select {
        border: 1px solid $label;
        padding: 0;
        height: 18px;
        width: 50px;
      }
      input[type="text"] {
        text-align: center;
        width: 25px;

        &.sheet-name {
          width: 200px;
        }
      }
      input[type="checkbox"] {
        border-radius: 0;
      }
      input[name="attr_flat_dc"], input[name="attr_use_flat_save_dc"] {
        display: none;
      }
      input[name="attr_use_flat_save_dc"]:checked ~ input[name="attr_flat_dc"] { display: inline; }
      input[name="attr_damage_type"] { width: 50px; }
    }
  }

  & > label {
    position: absolute;
    bottom: 5px;
    z-index: 40;
    width: 100%;
    text-align: center;
  }
}