.sheet-attributes {
  $width: 92px;
  $height: 610px;

  background-image: $attributes-container;
  background-size: $width $height;
  background-repeat: no-repeat;

  position: absolute;
  left: 20px;
  top: 165px;
  width: $width;
  height: $height;

  padding-top: 16px;

  .sheet-attribute {
    $width: 86px;
    $height: 96px;

    background-image: $attribute;
    background-size: $width $height;

    width: $width;
    height: $height;

    margin: 0 auto;
    position: relative;

    button {
      background: transparent;
      padding: 0;

      &::before { display: none; }
      &, * { cursor: pointer; }
    }

    .sheet-label {
      display: block;
      padding-top: 8px;
      font-size: 6.5pt;
      text-align: center;

      label { display: inline; }
    }

    input {
      display: block;
      margin: 0 auto;
      width: 50%;

      text-align: center;
    }

    input[type=text] {
      font-size: 24pt;
      margin-bottom: 4px;
    }

    input[type=number] {
      font-size: 14pt;
      text-align: center;
      margin: 0 30px;
    }
  }
}