.sheet-header {
  background-image: $sheet-header;
  background-size: 765px 130px;

  position: relative;
  height: 130px;
  width: 765px;

  input[name=attr_character_name] {
    position: absolute;
    top: 64px;
    left: 75px;
    width: 220px;

    font-size: 15pt;
    font-weight: bold;
  }

  label.attr_character_name {
    position: absolute;
    left: 80px;
    top: 97px;
    width: 220px;
  }

  .sheet-main {
    position: absolute;
    top: 36px;
    left: 329px;
    height: 74px;
    width: 407px;

    .sheet-header-row {
      position: relative;

      height: 36px;
      width: 390px;
      margin: 0 auto;
      padding: 1px;

      .sheet-dialog-display {
        display: inline-block;
        margin-top: -17px;
        height: 0;

        &:after {
          color: $red;
          font-weight: bold;
          font-family: Pictos;
          content: "p";

          display: inline-block;
          font-size: 10pt;
        }
      }

      span[name=attr_classlevel], .attr_classlevel { display: inline-block; width: 250px; }
      input[name=attr_background], .attr_background { width: 130px; }
      input[name=attr_race], .attr_race,
      input[name=attr_alignment], .attr_alignment,
      input[name=attr_experience], .attr_experience { width: 125px; }

      hr {
        background-color: #CCC;

        height: 1px;
        margin: -3px 0;
        width: 100%;
      }
    }
  }
}