.sheet-health {
  $height: 186px;
  $width: 250px;

  background-image: $health-background;
  background-repeat: no-repeat;
  background-size: $width $height;

  position: absolute;
  left: 300px;
  top: 165px;

  height: $height;
  width: $width;

  .sheet-armor-class {
    $height: 85px;
    $width: 78px;

    background-image: $armor-class;
    background-repeat: no-repeat;
    background-size: $width $height;

    position: absolute;
    top: 10px;
    left: 3px;

    height: $height;
    width: $width;

    input {
      margin: 22px auto 0;
    }

    button {
      width: $width;
    }
  }

  .sheet-max-hp {
    $height: 78px;
    $width: 78px;

    background-image: $max-hp;
    background-repeat: no-repeat;
    background-size: $width $height;

    position: absolute;
    top: 15px;
    left: 85px;

    height: $height;
    width: $width;

    input { width: 75%; }
    button {
      padding: 0 33%;
      bottom: 10px;
      width: $width;
    }
  }

  .sheet-temp-hp {
    $height: 74px;
    $width: 78px;

    background-image: $temporary-hp;
    background-repeat: no-repeat;
    background-size: $width $height;

    position: absolute;
    top: 15px;
    left: 168px;

    height: $height;
    width: $width;

    input { width: 75%; }
    button {
      padding: 0 33%;
      bottom: 10px;
      width: $width;
    }
  }

  .sheet-resist-immune {
    $height: 74px;
    $width: 155px;

    background-image: $resist-immune;
    background-repeat: no-repeat;
    background-size: $width $height;

    position: absolute;
    top: 100px;
    left: 5px;

    height: $height;
    width: $width;

    textarea {
      margin: 4px auto 0;
      display: block;
      width: $width - 16px;
      height: 50px;
      font-size: 8pt;
    }

    button {
      padding: 0;
      bottom: 10px;
      width: $width;
    }
  }

  .sheet-hp {
    $height: 74px;
    $width: 78px;

    background-image: $hp;
    background-repeat: no-repeat;
    background-size: $width $height;

    position: absolute;
    top: 100px;
    left: 168px;

    height: $height;
    width: $width;

    input { width: 75%; }
    button {
      padding: 0 33%;
      bottom: 10px;
      width: $width;
    }
  }

  input {
    width: 50%;
    margin: 18px auto 0;
    display: block;
    font-size: 20pt;
    text-align: center;
  }

  button {
    font-size: 8pt;
    line-height: 8pt;

    position: absolute;
    left: -3px;
    bottom: 15px;

    text-align: center;
    padding: 0 25%;
  }
}