.sheet-inspiration {
  $width: 168px;
  $height: 42px;

  position: absolute;
  top: 165px;
  left: $col1-right;
  background: $inspiration;
  background-size: $width $height;
  background-repeat: no-repeat;

  width: $width;
  height: $height;

  .sheet-fake-checkbox {
    $height: 30px;
    $width: 30px;

    height: $height;
    width: $width;
    position: absolute;

    left: 7px;
    top: 6px;

    span {
      display: none;

      height: $height;
      width: $width;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;

      background-image: $inspiration-earned;
      background-size: $width $height;
      background-repeat: no-repeat;
    }

    input[type=checkbox] {
      opacity: 0;
      height: $height;
      width: $width;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
    }

    input[type=checkbox]:checked ~ span { display: block; }
  }

  //input[type=checkbox] {
  //  $size: 30px;
  //
  //  border: none;
  //  display: block;
  //  width: $size;
  //  height: $size;
  //
  //  -webkit-appearance: none;
  //
  //  position: absolute;
  //  left: 7px;
  //  top: 6px;
  //
  //  &:focus { outline: none; }
  //
  //  &:checked {
  //    background-color: transparent;
  //  }
  //
  //  &:checked::before {
  //    $size: 30px;
  //    background: $inspiration-earned;
  //    background-size: $size $size;
  //    width: $size;
  //    height: $size;
  //
  //    content: "";
  //    display: block;
  //  }
  //}

  label {
    position: absolute;
    top: 12px;
    left: 70px;
  }
}