.sheet-passives {
  position: absolute;
  left: $col1-left;
  top: 800px;

  .sheet-passive {
    $width: 266px;
    $height: 40px;

    background-image: $passive-proficiencies;
    background-size: $width $height;
    background-repeat: no-repeat;

    margin-top: 5px;
    width: $width;
    height: $height;

    position: relative;

    input[type=text] {
      width: 45px;
      height: $height;
      line-height: $height;

      text-align: center;
      vertical-align: middle;

      font-weight: bold;
      font-size: 14pt;
    }

    button {
      background: none;
      -webkit-appearance: none;
      border: none;
      box-shadow: none;
      padding: 0;
      font-size: 8pt;

      height: $height;
      line-height: $height;

      position: absolute;
      left: 45px;
      width: $width - 45px;

      text-align: center;
      vertical-align: middle;

      &::before { display: none; }
    }
  }
}