.sheet-proficiencies {
  $width: 168px;
  $art-height: 75px;

  position: absolute;
  left: $col1-right;

  background: $proficiency-background;
  background-repeat: no-repeat;

  width: $width;
  z-index: 20;
  padding-top: 5px;

  & > label {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 40;
  }

  &::before, &::after {
    content: "";
    background-color: white;
    background-size: $width $art-height;

    position: absolute;
    left: 0;
    width: $width;
    height: $art-height;

    z-index: 30;
  }

  &::before {
    background-image: $proficiency-header;
    top: -5px;
  }

  &::after {
    background-image: $proficiency-footer;
    bottom: 0px;
  }

  &.sheet-saving-throws {
    $height: 150px;

    top: 275px;
    background-size: $width $height;
    height: $height;

  }

  &.sheet-skills {
    $height: 350px;

    top: 435px;
    background-size: $width $height;
    height: $height;
  }

  .sheet-proficiency {
    position: relative;
    width: 150px;
    margin: 0 auto;
    z-index: 40;

    font-size: 7pt;

    .sheet-rounded-checkbox {
      $size: 10px;

      position: relative;
      z-index: 20;
      width: $size;
      height: $size;
      display: inline-block;
      vertical-align: bottom;
      margin: 0 0 3px;

      background: white;
      border: 1px solid black;
      border-radius: 50%;
      overflow: hidden;

      input[type=checkbox] {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
      }

      span {
        display: none;
        width: $size;
        height: $size;

        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;

        background: black;
      }

      input[type=checkbox]:checked ~ span { display: block; }

      & ~ .sheet-rounded-checkbox {
        position: absolute;
        left: 4px;
        top: 3px;
        z-index: 10;
        margin: 0;

        width: $size - 2px;
        height: $size - 2px;

        input[type=checkbox] {
          pointer-events: none;
        }
      }
    }

    input[type=text] {
      border-bottom: 1px solid black;
      width: 20px;
      text-align: center;
    }

    .sheet-abbreviation {
      font-size: 7pt;
      color: #999;
    }
  }
}