.sheet-page.sheet-spells {
  $height: 860px;
  $width: 766px;

  &.sheet-content {
    height: $height;
    width: $width;

    background-image: $spells-background;
    background-size: $width $height;
    background-repeat: no-repeat;
  }

  .sheet-spell-column {
    $width: 249px;

    height: $height;
    width: $width;

    position: absolute;
    top: 165px;

    padding-top: 10px;

    &.sheet-left-column { left: 26px; }
    &.sheet-middle-column { left: 282px; }
    &.sheet-right-column {
      right: 26px;
      .sheet-spell-list {
        height: 180px;

        .repcontainer {
          height: 105px;
        }
      }
    }

    .sheet-spell-list {
      height: 250px;
      max-height: 250px;
      margin-bottom: 30px;

      .repcontainer {
        height: 175px;
        max-height: 175px;
        overflow-y: auto;
        overflow-x: hidden;
        @include scrollable();
      }

      input.sheet-slots-total {
        width: 50px;
        position: absolute;
        left: 30px;
        top: 10px;
        font-size: 20pt;
        text-align: right;
      }
      input.sheet-slots-remaining {
        width: 119px;
        position: absolute;
        left: 102px;
        top: 10px;
        font-size: 20pt;
        text-align: center;
      }

      .sheet-header {
        position: relative;

        background-image: $spells-list-header;
        background-size: 100% auto;
        background-repeat: no-repeat;

        height: 53px;
        width: 95%;
        margin: 0 auto;

        label:first-of-type {
          position: absolute;
          left: 8px;
          top: 18px;
          font-size: 14pt;
          font-weight: bold;
        }
      }

      @import "spell.scss";

      &.sheet-cantrips {
        .sheet-header {
          background-image: $spells-cantrip-header;

          label + label {
            margin: 0 auto;
            width: 9em;
            display: block;
            padding-left: 2em;
            padding-top: 18px;
          }
        }

        .sheet-spell {
          .sheet-rounded-checkbox { visibility: hidden; }
        }
      }

      &:nth-child(2) {
        .sheet-header {
          label {
            position: absolute;

            &.sheet-spell-level {
              left: -3px;
              top: -20px;
              text-align: center;
              width: 3em;
              line-height: 10px;
            }

            &.sheet-slots-total {
              top: -20px;
              left: 40px;
              width: 3em;
              text-align: center;
              line-height: 10px;
            }

            &.sheet-slots-remaining {
              top: -10px;
              left: 115px;
              line-height: 10px;
            }
          }
        }
      }

      .repcontrol {
        width: $width;
        z-index: 50;
        position: relative;
        margin: 0 auto;
      }

      .itemcontrol {
        z-index: 4;
      }
    }
  }
}