.sheet-writh {
  position: relative;
  width: 8.5in;
  height: 11in;

  @import "writh/colors";
  @import "writh/reset";
  @import "writh/roll-templates";

  .sheet-container {

    display: block;
    z-index: 10;
    position: relative;

    .sheet-npc, .sheet-pc {
      display: none;
    }
    .sheet-npc-toggle:checked ~ .sheet-npc, .sheet-npc-toggle:not(:checked) ~ .sheet-pc {
      display: block;
    }

    @import "writh/pc";
  }

  @import "writh/dialog";
}